.App {
  font-family: sans-serif;
  margin-left: 40px;
}

.panel {
  text-align: left;
}

footer {
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: rgb(199, 84, 7);
}

body {
  background-color: rgb(233, 211, 196);
}
